module.exports = {
    REMOTE_SKILL_ID: '[SKILL_ID]',
    SUBSONIC_SKILL_ID: '[SKILL_ID]',
    SUBSONICSERVER: 'https://subsonic.server.com',  //'https://192.168.1.1:4040',
    SUBSONICUSERNAME: '',
    SUBSONICPASSWORD: '',
    HTTP: true,
    SSLCERTIFICATECA: './sslcert/ca-xxx.duckdns.org-crt.pem',
    SSLCERTIFICATECERT: './sslcert/xxx.duckdns.org-crt.pem',
    SSLCERTIFICATEKEY: './sslcert/xxx.duckdns.org-key.pem',
    STREAMURL: 'https://xxx.duckdns.org/stream?q='
};